.footer {
    @media (max-width: 320px) {
        margin-top: 41px;
    }
}
.footer__row {
    margin-bottom: 33px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    ul {
        list-style-type: none; 
        
    }
    h2 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #656566;
    }
    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: inherit;
    }
    @media (max-width: 320px) {
        flex-direction: column;
        margin-bottom: 50px; 
    } 
}

@media (max-width: 320px) {
    .about, .menu {
        margin-bottom: 30px;
        
    } 
    .about__list>li:not(:last-child) {    
        margin-bottom: 10px;   
    }
}

.menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    li:nth-child(4)>a:last-child {
        display: none;
    }
    
    @media (max-width: 320px) {
        li:nth-child(4)>a:first-child {
            display: none;
        }
        li:nth-child(4)>a:last-child {
            display: block;
        }
        li {
            width: 123px;
        }
        li:nth-child(2) {
            grid-row-start: 2;
            grid-column-start: 2;   
        }
        li:nth-child(4) {
            grid-row-start: 1;
            grid-column-start: 2;   
        }
    }
}

.contacts {
    text-align: right;
    li:first-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    li:last-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    li:not(:last-child){
        margin-bottom: 20px;
    }
    img:not(:last-child) {   
        margin-right: 14px;   

    }
    @media (max-width: 320px) {
        text-align: left;
        li:not(:last-child){
            margin-bottom: 10px;
        }
    }
}

.confidentiality {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    a {
        color: inherit;
    }
    @media (max-width: 320px) {
        p {
            margin-bottom: 0;
        }
        text-align: left;
        margin-bottom: 60px;
    }
}